<div class="d-flex bd-highlight mb-3 header">
    <div class="mr-auto p-2 bd-highlight ml-4 mt-1 headerTitle">Quotes</div>
    <div class="p-1 m-2 bd-highlight"><a href="/" class ="fs-6 links">Get a quote</a></div>
    <div class="p-1 m-2 bd-highlight"><a href="login" class ="fs-6 links">Quotes</a></div>
    <div class="p-1 m-2 bd-highlight" >
        <a href="login" class ="fs-6 links mr-2" *ngIf="isLoggedIn; else elseBlock">Log in</a>
        <ng-template #elseBlock><a href="login" class ="fs-6 links mr-2">Log out</a></ng-template>
    </div>
  </div>